

Neurones.cbp
Neurones.layout
Neurones.depend

build
tsf
doc
backup
test
rtl-inter
corpus

*.o

demo*.sh

Kolmo

.sconsign.dblite
out.eps

include/gui/moc_*

live
classify
mkcorpus
nnat
mkpca
corpustosvg



